
<BaseLayout>
<div class="list-of-items">
  <div class="item-preview">
    <a href="/items/item1">
      <div class="item-picture"></div>
    </a>
    <div class="description">
    Objeto Perdido 1
    </div>
  </div>
  </BaseLayout>