---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Acerca de">
  <h1>Acerca de...</h1>
  <p>
  Objetos Perdidos fue creado por Juan Pablo Diaz como trabajo de fin de trimestre para la asignatura de TIC
  </p>
</BaseLayout>