---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Homepage">
  <h1>¿Objetos Perdidos?</h1>
  <p>Ultimos objetos perdidos</p>
<div class="list-of-items">
  <div class="item-preview">
    <a>
       <a href="/item1">
      <img class="logo" src={Astro.resolve('../assets/item1.svg')} />
    </a>
  </div>
  <div class="list-of-items">
  <div class="item-preview">
    <a>
       <a href="/item2">
      <img class="logo" src={Astro.resolve('../assets/item2.svg')} />
    </a>
  
</div>
<div class="list-of-items">
  <div class="item-preview">
    <a>
       <a href="/item3">
      <img class="logo" src={Astro.resolve('../assets/item3.svg')} />
    </a>
  </div>
</BaseLayout>

