---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Lista de cosas perdidas</h1>
<div class="list-of-items">
  <div class="item-preview">
    <a href="/items/item1">
      <div class="item-picture"></div>
    </a>
    <div class="description">
    Objeto Perdido 1
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
        <a href="/items/item2">
    <div class="description">
    Objeto perdido 2
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
        <a href="/items/item3">
    <div class="description">
    Objeto perdido 3
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
        <a href="/items/item4">    
    <div class="description">
    Objeto perdido 4 
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
    <a href="/items/item5">
    <div class="description">
    Objeto perdido 5
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
    <a href="/items/item6">
    <div class="description">
    Objeto perdido 6
    </div>
  </div>
  <div class="item-preview">
    <div class="item-picture"></div>
    <a href="/items/item7">
    <div class="description">
    Objeto perdido 7
    </div>
  </div>
 <div class="item-preview">
    <div class="item-picture"></div>
    <a href="/items/item8">
    <div class="description">
    Objeto perdido 8
    </div>
  </div>
 <div class="item-preview">
    <div class="item-picture"></div>
    <a href="/items/item9">
    <div class="description">
    Objeto perdido 9
    </div>
  </div>
</div>
</BaseLayout>